name: Deploy Hugo site

on:
  push:
    branches:
      - main  # 或者你的默认分支名

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # Ensure GITHUB_TOKEN has write access to contents
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive  # 递归拉取所有子模块
          fetch-depth: 0    # 获取所有历史记录和标签

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 'latest'
          extended: true

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          pip install pycryptodome beautifulsoup4 lxml

      - name: Copy decrypt.js
        run: |
          cp tools/hugo_encryptor/decrypt.js static/

      - name: Build
        run: hugo --minify --environment production

      - name: Encrypt content
        run: python tools/hugo_encryptor/hugo-encryptor.py

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          publish_branch: gh-pages  # 部署到gh-pages分支